#timelines-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    div {
        margin: 15px;
    }

    #timelines-parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
}

.parent-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    .card-title {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px;
        flex-direction: row;
        background-color: yellow;
        border-radius: 20px;
       
        img {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            width: 120px;
            height: 120px;
        }

        #details {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding: 10px;

            p {
                margin: 3px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            #dateTime {
                color: red;
                font-weight: bold;
            }
        }
    }
}